@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,700;1,400&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.NavBar{
    font-family: 'Chakra Petch', sans-serif;
    font-size: 20px;
    background-color: #E3FF55;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 85px;
    
}
    

.titleNav h3{
    cursor: pointer;
    margin: 10px;
    color: #2d1084;
    text-decoration: none;

}

.linksNav {
    display: flex;
    margin: 15px;
    
}


