@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,700;1,400&display=swap");

.NavBar {
  font-family: "Chakra Petch", sans-serif;
  font-size: 20px;
  background-color: #e3ff55;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 85px;
  width: 100%;
}

.titleNav h3 {
  cursor: pointer;
  margin: 10px;
  color: #2d1084;
  text-decoration: none;
}

.linksNav {
  text-decoration: none;
  display: flex;
  margin: 15px;
  gap: 10px;
}

.linksNav > NavLink {
  color: #2d1084;
}
